page-home {

}
#navLogin{
    color: white;
    background-color: red;
    font-family: fantasy;
    text-align: center;
}
#cadastro{
    margin-left: 93px;
    font-family: fantasy;
}
#cadastro a{
    color:black
}
#redefinir{
    margin-left: 83px;
    font-family: fantasy;
}
#redefinir a{
    color:black
}
